<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="temp.Properties.Settings.tempConnectionString" connectionString="Data Source=(local)\galaxy;Initial Catalog=prop3d;Connection Timeout=10000;User ID=sa;Password=galaxy#123;" providerName="System.Data.SqlClient"/>-->
    <add name="temp.Properties.Settings.tempConnectionString" connectionString="Data Source=sql5083.site4now.net;Initial Catalog=DB_A4AE1F_avnirdemo;User Id=DB_A4AE1F_avnirdemo_admin;Password=galaxy#123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <!--<rewrite>
      <rules>
        <rule name="Rewrite HTTP to HTTPS" stopProcessing="true">
          <match url="^(.*)$"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="^http$"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>
      </rules>
    </rewrite>--> 
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>

  </system.webServer>
  
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
	</system.web>
</configuration>
